html{
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
html,
body{
  height: 100%;
  position: relative;
  overflow-x: hidden;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: $background;
}
p{
  margin: 0;
  line-height: 0px;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
a{
  display: inline-block;
  text-decoration: none;
}
ul,
li{
  margin: 0;
  padding: 0;
  list-style: none;
}
.container{
  max-width: 1400px;
  padding: 0px 15px 0px 15px;
  height: 100px;
  margin: 0 auto;
}

