@import 'vars';
@import 'global';
@import 'fonts';

// start header
.header{
  height: 850px;
}
.header{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header__logo{
  position: absolute;
  left: 0;
  top: -14px;
}
.header__inner{
  padding-top: 30px;
  
}
.header__top{
  max-height: 49px;
  background-color: $menu;
  width: 100%;
  background:rgba(38, 52, 55, 0.6);
  position: relative;
  &::before,&::after{
    content: '';
    position: absolute;
    height: 49px;
    background-color: $menu;
    right: 100%;
    width: 100%;
    top: 0px;
    background:rgba(38, 52, 55, 0.6);
  }
    &::after{
    content: '';
    left: 100%;
  }
}
.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 210px;

  li{
    display: inline-block;
    a{
      color: #fff;
      @include f400;
      line-height: 24px;
      font-size: 18px;
    }
    & + li{
      margin-left: 55px;
    }
  }
}
.header__btn{
    padding: 6px 35px;
    border: 1px solid #fff;
    border-radius: 7px;
    margin-top: 6px;
    margin-bottom: 5px;
    margin-left: 1%;
}
.menu__box{
  margin-left: 18%;
}
.header__down{
  position: relative;
}
.header__info{
  position: absolute;
  top: 95px;
  left: 409px;
  max-width: 750px;
  height: 285px;
  &-price{
    font-size: 60px;
    color: #fff;
    margin-bottom: 11px;
    @include f400i;
  }
  &-title{
    font-size: 36px;
    color: rgb(221, 239, 227);
    max-width: 660px;
    margin-bottom: 20px;
    @include f400i;
  }
  &-text{
    font-size: 30px;
    @include f300i;
    color: $light-blue;
    color: rgb(221, 239, 227);
    line-height: 1.2;
    max-width: 555px;
  }
}
.header__box{
  max-width: 311px;
  height: 674px;
  border-radius: 25px;
  background-color: $background;
  margin-top: 44px;
}
.header__line{
  height: 95px;
  width: 100%;
  & + .header__line{
    border-top: 2px solid $blue;
  }
  input,select,a{
    color: $title;
    @include f400i;
    font-size: 18px;
    width: 85%;
    margin-left: 22px;
    margin-right: 22px;
    border: none;
    background-color: $background;
    outline: none;
    text{
      color: $title;
    }
    &::placeholder{
      color: $blue;
      font-size: 18px;
      @include f400i;
    }
  }
  select{
      color: $title;
      font-size: 18px;
      @include f400i;
  }
  label{
    text-transform: uppercase;
    padding-top: 20px;
    padding-left: 22px;
    padding-bottom: 18px;
    display: block;
    font-size: 24px;
    color: $red;
    @include f400i;
  }
}
.header__line-btn{
  background-color: $red;
  height: 104px;
  width: 100%;
  border-radius: 0px 0px 23px 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  span{
    font-size: 30px;
    color: #fff;
    @include f400i
  }
}
.header__line{
  a{
    color: $blue;
  }
}
// end header
// start popup
#forward,
#return{
  display: none;
  background-color: $background;
  max-width: 600px;
  width: 100%;
}
.fancybox-content {
    padding: 20px;
    text-align: center;
}
.fancybox-slide--html .fancybox-close-small {
  display: none;
}
.forward__top,
.return__top{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $blue;
  padding-bottom: 20px;
  &-data, &-return{
    font-size: 18px;
    @include f400i;
    color: $red;
    padding: 10px 30px 10px;
    margin: 0 auto;
  }
  &-return{
    border: 1px solid $red;
    border-radius: 5px;
    transition: 1s;
    &:hover{
      background-color: $red;
      border: 1px solid #fff;
      color: #fff;
    }
  }
}
.forward__down,
.return__down{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &-submit{
    input{
      background-color: $background;
      padding: 10px;
      border: 2px solid $title;
      border-radius: 9px;
    }
  }
  &-data{
    input{
      border: none;
      background-color: $background;
      border: 2px solid $title;
      padding: 10px;
    }
  }
}
// end popup
// start section tour
.tour{
  min-height: 716px;
}
.tour__inner{
  padding-top: 48px;
  padding-bottom: 40px;
}
.tour__title, 
.title{
  margin: 0 auto;
  max-width: 606px;
  width: 100%;
  height: 104px;
  text-align: center;
  font-size: 48px;
  @include f400i;
  color: $title;
  margin-bottom: 40px;
  span{
    font-size: 30px;
    color: $blue;
  }
}
.tour__items{
  display: flex;
  justify-content: space-between;
  
}
.tour__item{
  max-width: 310px;
  width: 100%;
  height: 382px;
  border-radius: 25px;
  background-color: #fff;
  margin-bottom: 40px;
  &:hover{
    box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
    .tour__item-text{
      color: $red;
      font-size: 24px;
    }
  }
  & + .tour__item{
    margin-left: 10px;
  }
  &-images{
    max-width: 310px;
    width: 100%;  
    height: 224px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px 25px 0px 0px;
  }
  &-text{
    max-width: 238px;
    height: 20px;
    margin: 0 auto;
    @include f400i;
    color: $blue;
    font-size: 18px;
    margin-top: 37px;
    text-align: center;
  }
}
.tour__btns{
  display: flex;
  justify-content: center;
}
.tour__btn{
  max-width: 360px;
  width: 100%;
  height: 72px;
  background-color: $red;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #fff;
  font-size: 30px;
  padding: 19px 60px;
}
// end section tour
// start section city
.city__inner{
position: relative;
}
.city__bigslider{
  height: 848px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.city__info{
  max-width: 1680px;
  width: 100%;
  height: 848px;
  margin: 0 auto;
  &-title{
    padding-top: 66px;
    margin: 0 auto;
    text-align: center;
    max-width: 462px;
    height: 94px;
    font-size: 36px;
    @include f400i;
    color: $title;
  }
}
.city__item1{
  position: absolute;
  top: 221px;
  left: 140px;
  max-width: 700px;
  width: 100%;
  height: 394px;
  border: 5px solid #fff;
  z-index: 2;
  &-images{
    max-width: 700px;
    width: 100%;
    max-height: 394px;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.city__item2{
  position: absolute;
  top: 393px;
  right: 369px;
  max-width: 513px;
  width: 100%;
  height: 321px;
  border: 5px solid #fff;
  z-index: 1;
  &:hover{
    z-index: 3;
  }
  &-images{
    max-width: 513px;
    width: 100%;
    max-height: 321px;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.city__item3{
  position: absolute;
  top: 121px;
  right: 54px;
  max-width: 509px;
  width: 100%;
  height: 318px;
  border: 5px solid #fff;
  &:hover{
    z-index: 3;
  }
  &-images{
    max-width: 509px;
    width: 100%;
    max-height: 318px;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.city__item4{
  position: absolute;
  bottom: 160px;
  max-width: 270px;
  height: 32px;
  text-align: center;
  left: 490px;
  font-size: 24px;
  color: #fff;
  @include f400i;
}
.city__inners{
  position: relative;
}
.city__smallslider{
  position: absolute;
  max-width: 1400px;
  top: 138px;
  left: 9%;
  width: 100%;
  height: 87px;
  display: flex;
  justify-content: center;
  z-index: 4;
}
.city__items{
  width: 100%;
  text-align: center;
  height: 56px;
  max-width: 217px;
  padding-top: 4px;
  font-size: 28px;
  @include f300i;
  color: #fff;
  & + .city__items{
    margin-left: 20px;
  }
}
.city__items.active{
    padding-top: 0;
    font-size: 34px;
    max-width: 226px;
    outline: none;
}
// end section city
// start section relaxation
.relaxation__top{
  padding-top: 50px;
}
.relaxation__top-slider{
  min-height: 200px;
}
.relaxation__item{
  margin-top: 10px;
  max-width: 220px;
  width: 100%;
  height: 173px;
  background-color: #fff;
  position: relative;
  &-images{
    position: absolute;
    top: 2px;
    left: 43px;
  }
  &-text{
    position: absolute;
    bottom: 16px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 24px;
    @include f300i;
    color: $title;
    align-items: end;
  }
}
.relaxation__item.active{
  background-color: $red;
  margin-top: 0px;
  max-width: 220px;
  width: 100%;
  height: 193px;
  g{
    fill: #fff;
  }
  .relaxation__item-text{
    color: #fff;
    font-size: 26px;
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
  }
}
.relaxation__down{
  &-item{
    max-width: 409px;
    width: 100%;
    min-height: 429px;
    border-radius: 15px;
    background-color: #fff;
    margin-top: 62px;
    margin-bottom: 50px;
    &:hover{
      background-color: $red;
      box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
      .relaxation__box-title{
        font-size: 30px;
        color: #fff;
        padding: 10px 50px 11px 50px;
      }
    }
  }
  &-images{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 409px;
    width: 100%;
    height: 281px;
    border-radius: 15px 15px 0px 0px;
  }
}
.relaxation__box{
  &-title{
    max-width: 409px;
    font-size: 24px;
    @include f300i;
    color: $title;
    text-align: center;
    padding: 15px 80px 20px 80px;
  }

}
  .relaxation__price{
    display: flex;
    justify-content: space-between;
    &-icons1, &-icons2, &-icons3{
      padding-right: 70px;
      padding-left: 20px;
      position: relative;
      &::before{
        content: '500₽';
        position: absolute;
        top: 22px;
        right: 22px; 
        color: #000;
      }
    }  
    &-icons2{
      padding-top: 6px;
      &::before{
        content: '1200₽';
      }

    }
    &-icons3{
      padding-top: 3px;
      &::before{
        content: '750₽';
      }
    }
  }
.relaxation__down-slider{
  display: flex;
  justify-content: space-between;
}
.relaxation__down-slider{
  display: inline-flex !important;
}
// end section relaxation


@import 'media';


